{
  "env": {
    "browser": false,
    "es2021": true,
    "node": true
  },
  "plugins": ["prettier"],
  "extends": ["plugin:prettier/recommended", "next", "next/core-web-vitals"],
  "rules": {
    "prettier/prettier": "warn"
  }
}
