{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "plugins": ["prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "next",
    "next/core-web-vitals"
  ],
  "rules": {
    "prettier/prettier": "warn"
  }
}
